{%extends 'base.html'%}

{%block content%}
{%for car in pics%}
<div class="col">
  <div class="card shadow-sm">
    <img src="{{car.source.url}}" style="max-width: auto; height: 250px;">
    <div class="card-body">
      <p class="card-text">{{car.name}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a class="btn btn-sm btn-outline-secondary" href="{%url 'pic_view' car.id %}">View</a>
          <a class="btn btn-sm btn-outline-secondary" href="{{car.source.url}}" download="">Download</a>
        </div>
        <small class="text-muted">{{car.date|date:'d/m/Y'}}</small>
      </div>
    </div>
  </div>
</div>
{%endfor%}
{%endblock%}