{%extends 'base.html'%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="container">
            <h1 class="fw-light">{{pic.name}}</h1>
            <img class="card-img-top" src="{{pic.source.url}}" alt="Card image cap" style="max-width: 100%; height: auto;">
            <p>
                <a href="{%url 'index'%}" class="btn btn-primary my-2">Back</a>
                <a class="btn btn-primary my-2" href="{{pic.source.url}}" download="">Download</a>
            </p>
        </div>
    </div>
</section>
{%endblock%}